ul {
    list-style-type: none;
    margin: 0;padding: 0;
    li {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    h3{
    text-align: left;
    }
    p {
    margin-left: 20px;
    text-align: left;
}}}
.button {
    background: #66ccff;
      border: none;
      color: black;
      text-transform: uppercase;
      border-radius: 4px;
      padding: 5px 20px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
  }
  .button:hover {opacity: 1}

.modal.show{
    display: block;
}
