.button {
    background: #66ccff;
      border: none;
      color: black;
      text-transform: uppercase;
      border-radius: 4px;
      font-size: 24px;
      padding: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
  }
  .button:hover {opacity: 1}

  input#username, input#email, input#password, input#cpassword{
    outline: 0;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 300px;
}