
<h1>Welcome to Sign In Page</h1> 
 
    <div class="container">
    <form (submit)="login($event)">
    <div>
      <input type="text" autocomplete="off" placeholder="Email" id="email">
    </div>
    <div>
      <input type="password" autocomplete="off" placeholder="Password" id="password">
    </div>
    <div>
      <button class="button" type="submit" id="submit">Login</button>

    </div>
    </form>
    <br>
    <form (submit)="toRegister($event)">
      <button class="button" type="Register" id="Register">Register</button>
    </form>
  </div>
